*{
    box-sizing: border-box;
}
:root{
    --blue-header: #7d60ff;
    --blue-Oscuro: #131250;
    --white: white;
}
/* Header */
/* body{
    background-color: #f1f1f8;
} */
.myHeader{
    height: 55px;
    background-color: var(--blue-header);
    position: sticky;
    top: 0;
    justify-content: center;
    /* display: flex; */
    align-items: center;
    z-index: 100;
    display: none;
}
.div-bars-logo{
    padding-left: 20px;
    align-items: center;
    display: flex;
    height: 100%;
    background: linear-gradient(to right,  var(--white),  var(--blue-header));
}
.div-bars{
    background-color: #6044dd;
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;
    color: var(--white);
    box-shadow: 1px 1px rgb(59, 59, 59);
    font-size: 18px;
    display: none;
    cursor: pointer;
}
.div-bars:hover {
    background-color: #7b62e9;
}
.logo{
    height: 100%;
    padding: 7px 0 4px;
}
.nav-father{
    width: 100%;
    justify-content: right;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.nav-menu-left{
    display: none;
}
.nav-menu{
    margin: 0px 10px;
}
.txt-menu{
    margin: 0px 10px;
    font-size: 17px;
    color: var(--white);
    text-decoration: none;
}
.txt-menu:hover{
    color: var(--blue-Oscuro);
}
.t-m-name{
    color: var(--blue-Oscuro);
    font-size: 20px;
}
.menu-logo-user{
    border-left: 2px solid var(--blue-Oscuro);
}
.fa-user-circle{
    margin-left: 10px;
    font-size: 35px;
    color: var(--blue-Oscuro);
}

@media screen and (max-width: 650px) {
    .div-bars{
        display: flex;/* Idk why fix this */
    }
    .nav-father{
        margin-right: 20px;
    }
    .nav-menu{
        display: none;
    }
    .nav-menu-left{
        display: block;
        top: 0;
        left: 0;
        margin: 0;
        height: 100vh;
        position: fixed;
        overflow-y: auto;
        width: 0;
        background-color: #6b52db;
    }
    .nav-menu-popup{
        opacity: 0;
        background: black;
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .txt-menu-left{
        color: var(--white);
        text-decoration: none;
        margin: 0;
        font-size: 18px;
        padding: 15px;
        display: block;
        border-bottom: 2px solid var(--blue-Oscuro);
    }
    .txt-menu-left:hover{
        color: var(--blue-Oscuro);
        background-color: #bfb1f5;
    }
    .menu-logo-user{
        border: none;
    }
    .menu-text-user{
        display:none;
    }

    /* aside{
        position: initial;
        width: 100%;
        margin-top: 20px;
        height: auto;
    }
    main{
        margin: 20px;
    } */
}

/* body */
.main-home{
    margin-top: 20px;
}

/* aside */
.aside-home{
    position: fixed;
    top: 75px;
    width: 250px;
    padding: 20px;
    height: calc(100vh - 6rem);
    overflow-y: auto;
}
.aside-user, .aside-laptop{
    display: none;
}
.fa-info-circle{
    opacity: 0.4;
}
.aside-input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
}
.radio{
    cursor: pointer;
}
.aside-btn{
    margin: 10px auto;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: lightskyblue;
}
.aside-btn:hover{
    background-color: rgb(112, 188, 235);
}

/* main */
.main2-home{
    margin: 50px 20px 40px 270px;
}

/* Tablas */
.div-table{
    display: block;
    overflow-x: auto;
    border-radius: 10px;
}
table{
    width: 100%;
    text-align: center;
}
thead{
    background-color: var(--blue-Oscuro);
    color: var(--white);
}
th, td{
    padding: 10px;
}
tbody tr:nth-child(odd) {
    background-color: var(--white);
}
.btn1-table{
    background-color: lightgreen;
}
.btn2-table{
    background-color: lightcoral;
}
@media screen and (max-width: 575px) {
    .aside-home{
        position: initial;
        width: 100%;
        margin-top: 20px;
        height: auto;
    }
    .main-home{
        margin: 20px;
    }
}

/* @media screen and (max-width: 1100px) {
	table, th, thead, tbody, td{ display: block; }
	thead { float: left;}
	tbody {overflow-x: auto; white-space: nowrap; }
	tr { display: inline-block;}
} */