*{
    box-sizing: border-box;
}
body{
    background-color: #f1f1f8;
}
.father-preload{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader {
    width: 70px;
    height: 70px;
    border: 8px solid rgb(255, 255, 255);
    border-top: 8px solid #666;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main-login{
    text-align: center;
}
.main-changer{
    display: none;
}

.logo-login{
    margin: 30px;
    max-width: 400px;
}
.title-div-index{
    margin: 10px;
    font-family: Century Gothic;
}
.con-login{
    max-width: 450px;
}
.div{
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 1px rgb(194, 194, 194);
}
.divSignin{
    display: none;
}
.form-floating .form-control, .selected{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid black;
}

.form-floating .form-control:focus{
    box-shadow: 0 0;
}
.form-floating label{
    padding: 0px;
    height: 25px;
    top: 30px;
    left: 20px;
}

.required{
    text-align: left;
    font-size: 12px;
    margin-bottom: 0;
    color: red;
}
.btn{
    width: 100%; 
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: lightskyblue;
}
.login{
    margin-top: 20px;
}
.login:hover{
    background-color: rgb(112, 188, 235);
}
.newAcount{
    background-color: lightgreen;
}
.newAcount:hover{
    background-color: rgb(121, 219, 121);
}


/* .col, .col-auto, .col-6, .col-2, .col-8, .col-4, .col-3, .col-5, .col-7, .col-sm{
    border: 2px solid rgb(241, 5, 5);
} */
/* .row{
    background-color: aqua;
   
} */