.alert{
    display: none;
}
.aside-orders{
    background-color: chartreuse;
}
.div-aside-table-ord{
    /* width: 100px; */
    background-color: turquoise;
    /* display: inline-block; */
}
.aside-table-ord{
    display: block;
    /* width: 100%; */
    background-color: burlywood;
    /* margin: 10px; */
}
.inp-asi{
    width: 80px;
}
.col-orders{
    background-color: white;
    border-radius: 10px;
    margin: 12px;
    padding: 10px;
    justify-content: center;
   /*  border: 2px solid black; */
    /* padding: ; */
    /* padding: 10px; */
    box-shadow: 0 0 10px 0 rgb(184, 184, 184);
}

/* .table-ord-pro{
} */
.tbody-ord-pro{
    margin: 10px;
    
}
/* .th-ord-pro, td-ord-pro{
    
} */
.th-ord-pro{
    padding-right: 20px;
}